body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}


.vslider {
  height: 200px;
  width: 40px;
  -webkit-appearance: slider-vertical;
}

.sliderValueClass {
  text-align: center;
}


.sliderHeader {
  text-align: center;
}
